<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="renderField">

    <div class="field">
        <div class="logged">
            <span class="textt" th:text="'Logged in as: '"></span>
            <span class="textt" th:utext="${@userController.getUserName}"></span>
        </div>
        <span th:utext="${@taptilesController.htmlField}"></span>
        <div class="scored">
            <span class="textt" th:text="'Score: '"></span>
            <span class="textt" th:utext="${@taptilesController.showScore}"></span>
        </div>
        <span th:if="${@taptilesController.isSolved}">
                <div class="scored">
                    <span class="textt">You won!</span>
                </div>
            </span>
    </div>

</div>

<div th:fragment="renderOptionButtons">

    <div class="btn-group">
            <span th:if="not ${@taptilesController.isRandomGame}">
                <a href="/taptiles/random/easy">Random</a>
                <span th:if="${@taptilesController.isSolved}">
                    <div class="btn-group2">
                        </br>
                        <a href="/taptiles/campaign">Next Level</a>
                    </div>
                </span>
            </span>
        <span th:if="${@taptilesController.isRandomGame}">
                <a href="/taptiles/campaign">Campaign</a>
            </span>
        <span th:if="${@taptilesController.isRandomGame}">
                <div class="btn-group-2">
                    <a href="/taptiles/random/easy">Easy</a></br>
                    <a href="/taptiles/random/medium">Medium</a></br>
                    <a href="/taptiles/random/hard">Hard</a></br>
                </div>
            </span>
        <a href="/taptiles/logout">Logout</a>
    </div>

</div>

</body>
</html>