<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>


<f class="container">
        <div th:if="not ${@userController.correctPass}">
            <div class="error">
                <span class="warning">Wrong password!</span>
            </div>
        </div>

        <div th:if="not ${@userController.registeredUser}">
            <div class="error">
                <span class="warning">User is already registered!</span>
            </div>
        </div>


    <f class="outer">

        <div th:replace="fragments/loginRegisterFragment.html :: loginForm"></div>

        <div th:replace="fragments/loginRegisterFragment.html :: registerForm"></div>

        <div th:replace="fragments/loginRegisterFragment.html :: loginAsGuest"></div>

    </f>
</f>
</body>
<script type="text/javascript" src="script.js"></script>
</html>